
.mensaje
{
	hight: 0px;
	text-align: center;
	font-family: narkisim;
	font-size: 1.3rem;
	margin: 10px 0px;
	color: Blue;
}

.mensaje span
{
	color: red;
}

.Registrarse_Sesion
{
	display: flex;
	justify-content: flex-end;
}

.Registrarse_Sesion input[name="Registro"]
{
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, DodgerBlue 5%, DeepSkyBlue 100%);
	background-color:DodgerBlue;
	border-radius:6px;
	border:1px solid Azure;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.Registrarse_Sesion input[name="Registro"]:hover 
{
	background:linear-gradient(to bottom, DodgerBlue 100%, DeepSkyBlue 5%);
	background-color:#bc80ea;
}

.Registrarse_Sesion input[name="Registro"]:active 
{
	position:relative;
	top:1px;
}

.Registrarse_Sesion input[name="Sesion"]
{
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, IndianRed 5%, LightCoral 100%);
	background-color:IndianRed;
	border-radius:6px;
	border:1px solid Azure;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.Registrarse_Sesion input[name="Sesion"]:hover 
{
	background:linear-gradient(to bottom, IndianRed 100%, LightCoral 5%);
	background-color:#bc80ea;
}

.Registrarse_Sesion input[name="Sesion"]:active 
{
	position:relative;
	top:1px;
}

.Registrarse_Sesion input[name="CerrarSesion"]
{
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, DarkOrange 90%, orange 10%);
	background-color:DarkOrange;
	border-radius:6px;
	border:1px solid Azure;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.Registrarse_Sesion input[name="CerrarSesion"]:hover 
{
	background:linear-gradient(to bottom, DarkOrange 10%, orange 90%);
	background-color:#bc80ea;
}

.Registrarse_Sesion input[name="CerrarSesion"]:active 
{
	position:relative;
	top:1px;
}

.ocultoDI4 
{
    display: none !important;
}

.wrapper4 
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #add8e694;
}

.formulario4 
{
	width: 18%;
	height: 77%;
	background-color: white;
	padding: 15px 40px;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	border: 1px solid black;
	font-family: narkisim;
}

.formulario4 h3
{
	margin: 0px;
}

div.form4 
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	overflow: auto;
}

div.form4 div
{
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.form4 input, select 
{
	font-size: 1rem;
	font-family: narkisim;
}
		
.wrapper4 input[type="text"] 
{
	background-color: DarkSalmon;
	border: 0px;
	border-bottom: 0.5px solid IndianRed;
	padding: 3px;
}

.wrapper4 input[type="text"]:focus 
{
	background-color: Azure;
	outline: none;
}

.wrapper4 input[type="button"] 
{
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, IndianRed 5%, LightCoral 100%);
	background-color:IndianRed;
	border-radius:6px;
	border:1px solid Azure;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.wrapper4 input[type="button"]:hover 
{
	background:linear-gradient(to bottom, LightCoral 5%, IndianRed 100%);
	background-color:#bc80ea;
}

div.form4 input[type="button"]:active 
{
	position:relative;
	top:1px;
}

div#layermsg1_4 p
{
	color: red; 
	font-family: narkisim;
	margin: 0px;
	font-size: 0.9rem;
}

div#layermsg2_4 p
{
	color: red; 
	font-family: narkisim;
	margin: 0px;
	font-size: 0.9rem;
}

div#layermsg3_4 p
{
	color: red; 
	font-family: narkisim;
	margin: 0px;
	font-size: 0.9rem;
}
